body, .HEADER, .nav {
    margin: 0;
    padding: 0;
}

.HEADER {
    font-style: bold;
    text-align: center;
    padding: 20px;
    position: relative;
    width: 100vw; 
}

.HEADER::before,
.HEADER::after {
    content: "";
    display: block;
    width: 100vw;
    height: 5px;
    background-color: black;
    position: absolute;
}

.HEADER::before {

    top: 0;
    left: 0; 
}

.HEADER::after {
    bottom: 0;
    left: 0; 
}

.nav {
    font-size: 20px;
    text-align: center;
    color: white;
    background-color: black;
    padding: 30px;
    margin-top: 370px; 
    width: 100vw; 
}

ul, li {
    display: block;
}
