{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn,tailwindcss.com"></script>
    <title> Contact Page |tutorial </title>
    <link rel="stylesheet" href="{% static 'contact.css' %}">

</head>
<body>
    <div class ="px-6 py-6">
        <div class="HEADER">
            <h1>CONTACT PAGE</h1>
        </div>
        <img src="{{detail.image.url }}" alt="Image">
        <div class="nav">
            <ul>
                <li>no 52 middle street sulthapet</li>
                <li>+91 8870378230</li>
                <li>location link:</li>
            </ul>
            
        </div>
    
</body>
</html>
